@{
    ViewBag.Title = "Confirm Email";
}

@{
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}

<body>
    <section id="about-topspace" class="container content-section text-center portfolio-content">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </div>
        </div>
    </section>
</body>