@model IEnumerable<Bug_Tracker.Models.UserListViewModel>

@{
    ViewBag.Title = "Manage Users";
}

<h2>User Index</h2>

<table class="table">
    <tr>
        <th>
            FirstName
        </th>
        <th>
            LastName
        </th>
        <th>
            User Name
        </th>
        <th>
            Role
        </th>
        <th></th>
    </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.User.FirstName
                </td>
                <td>
                    @item.User.LastName
                </td>
                <td>
                    @item.User.DisplayName
                </td>
                <td>
                    @foreach (var role in item.Roles)
                    {
                        @role
                        <br />
                    }
                </td>
                <td>
                    @Html.ActionLink(linkText: "Roles", actionName: "UserRoles", controllerName: "Manage", routeValues: new { id = item.User.Id }, htmlAttributes: "")
                </td>
            </tr>
        }
</table>
