@model IEnumerable<Shopping_Cart_01.Models.Item>

@{
    ViewBag.Title = "Home Page";
}

@{
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}

<!--product-starts-->

<div class="product">
    <div class="container">
        @{
            foreach (var item in Model)
            {
                <div class="col-sm-3 product-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href=@Url.Action("Details", "Home", new { id = item.Id }) class="mask"><img class="img-responsive zoom-img" src="@item.MediaUrl" alt="" /></a>
                        <div class="product-bottom">
                            <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                            <p>More Information</p>
                            <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$@Html.DisplayFor(modelItem => item.Price)</span></h4>
                        </div>
                        <div class="srch">
                            <span>-50%</span>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

        <!--product-end-->
                <!--start-menu-->
                <script src="~/Template1/js/simpleCart.min.js"> </script>
                <link href="~/Template1/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
                <script type="text/javascript" src="~/Template1/js/memenu.js"></script>
                <script>$(document).ready(function () { $(".memenu").memenu(); });</script>
                <!--dropdown-->
                <script src="~/Template1/js/jquery.easydropdown.js"></script>	