@{
    ViewBag.Title = "Coming Soon";
}

<body>
    <!-- About Section -->
    <section id="about-topspace" class="container content-section text-center portfolio-content">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p>This project is still in the works. Please come back later.</p>
                <a href='@Url.Action("Index")#portfolio' class="btn btn-default btn-lg">Go Back to Portfolio</a>
            </div>
        </div>
    </section>
</body>
