@model Budgeter.Models.AssignUsersViewModel

@{
    ViewBag.Title = "Assign user to household";
}

<h2>@Model.Household.Name</h2>

<br />

@using (Html.BeginForm("Assign", "Households", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div>
        <h3>Assign to:</h3>
        @Html.HiddenFor(model => model.Household.Id, new { })
        <br />
        <form>
            <div class="form-group">
                <label>Assign to:</label>
                @Html.ListBox("SelectedUsers", Model.Users, htmlAttributes: new { @class = "form-control", id = "mySelect", size = "20" })
            </div>
        </form>
        <ul class="list-inline">
            <li>
                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
            </li>
            <li>
                <a href="@Url.Action("Index", "Home")" class="btn btn-danger"> <i class="fa fa-ban"></i> Cancel</a>
            </li>
        </ul>
    </div>
}